<mj-top-nav-bar nav-title="用款申请" prev-state="dashboard" prev-text="返回"></mj-top-nav-bar>
<div class="mj-page-moneyout">
  <div class="mj-moneyout-content">
    <div class="mj-moneyout-content-1">剩余额度:</div>
    <div class="mj-moneyout-content-2">105000</div>
    <div class="mj-moneyout-content-1">当前用款:</div>
    <div class="mj-moneyout-content-2-sm">15000</div>
    <div class="row mj-moneyout-content-3">
      <div class="col-xs-6 mj-moneyout-content-3-title">授信额度</div>
      <div class="col-xs-6 mj-moneyout-content-3-title">结束时间</div>
    </div>
    <div class="row mj-moneyout-content-3">
      <div class="col-xs-6">32145</div>
      <div class="col-xs-6">2016-01-01</div>
    </div>
    <div class="row mj-moneyout-content-3">
      <div class="col-xs-6 mj-moneyout-content-3-title">质押率</div>
      <div class="col-xs-6 mj-moneyout-content-3-title">年利率</div>
    </div>
    <div class="row mj-moneyout-content-3">
      <div class="col-xs-6">0.5</div>
      <div class="col-xs-6">15%</div>
    </div>
    <div class="mj-moneyout-content-1">用款申请:</div>
    <div class="row mj-moneyout-content-4">
      <div class="col-xs-3 row-title">使用额度:</div>
      <div class="col-xs-8 row-input">
        <input type="text" class="form-control"/>
      </div>
    </div>
    <div class="row mj-moneyout-content-4">
      <div class="col-xs-3 row-title">借款期限:</div>
      <div class="col-xs-8 row-select">
        <ui-select ng-model="selectedDuration">
          <ui-select-match placeholder="选择借款期限">
            <span>{{$select.selected.name}}</span>
          </ui-select-match>
          <ui-select-choices repeat="duration.value as duration in durations track by $index">
            <span>{{duration.name}}</span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>
  <div class="mj-moneyout-submit">
    <button class="btn btn-info" ng-click="submit()">提交</button>
  </div>
</div>