<sjd-top-nav-bar nav-title="出库申请" prev-state="dashboard" prev-text="返回"></sjd-top-nav-bar>
<div class="sjd-page-goodsout">
    <div class="sjd-goodsout-content">
        <div class="row sjd-goodsout-content-0">
            <div class="col col-50 sjd-goodsout-content-1-title">可出价值(元)</div>
            <div class="col col-50 sjd-goodsout-content-1-title">出库价值(元)</div>
        </div>
        <div class="row sjd-goodsout-content-1">
            <div class="col col-50 ">{{estimateTotal|currency:""}}</div>
            <div class="col col-50 ">{{estimate|currency:""}}</div>
        </div>
        <div class="row sjd-goodsout-content-2">出库信息:</div>
        <div class="item item-input item-underline">
            <div class="input-label">
                出库仓库:
            </div>
            <input type="text" ng-model="stockname" />
        </div>
        <div class="item item-input item-underline">
            <div class="input-label">
                联系人:
            </div>
            <input type="text" ng-model="contact" />
        </div>
        <div class="item item-input item-underline">
            <div class="input-label">
                联系方式:
            </div>
            <input type="text" ng-model="phone" />
        </div>
        <div class="item item-input item-underline">
            <div class="input-label">
                收货方:
            </div>
            <input type="text" ng-model="receivingcompany" />
        </div>
        <div class="item item-input item-underline">
            <div class="input-label">
                收货地址:
            </div>
            <input type="text" ng-model="receivingaddress" />
        </div>
        <div class="item item-input item-underline">
            <div class="input-label">
                备注信息:
            </div>
            <input type="text" ng-model="memo" />
        </div>
        <div class="row sjd-goodsout-content-5">
            <span class="title-5">出库明细:</span>
            <span class="ion-plus-circled arranged" ng-click="addGoods()"></span>
        </div>
        <div class="row sjd-goodsout-content-4">
            <ul class="list" style="width:100%">
                <li class="item intense" ng-repeat="product in products">
                    <div class="row title">
                        <span class="ion-ios-minus-outline arranged" ng-click="deleteProduct($index)"></span>
                        <span style="white-space: normal;">{{product.name}}</span>
                        <span class="tag" ng-if="product.mortgaged">质押中</span>
                    </div>
                    <div class="row line2">
                        <div class="col col-50">
                            <span>出库数:</span>
                            <input type="number" class="inline" ng-model="product.count" ng-change="getEstimate()" />
                        </div>
                        <div class="col">库存数:{{product.totalquantity}}</div>
                    </div>
                    <div class="row line2" ng-if="product.mortgaged">
                        <div class="col col-50">出库额度：{{product.count * product.dealprice | currency:''}} 元</div>
                        <div class="col">核价：{{product.dealprice|currency:''}} 元</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="sjd-goodsout-submit">
        <button class="button button-positive" ng-disabled="products.length === 0" ng-click="submit()">提交</button>
    </div>
</div>