<sjd-top-nav-bar nav-title="贷款申请" prev-state="dashboard" prev-text="返回"></sjd-top-nav-bar>
<div class="sjd-page-application">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-3 row-title">贷款人:</div>
      <div class="col-xs-8 row-input">
        <input type="text" class="form-control"/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 row-title">公司名称:</div>
      <div class="col-xs-8 row-input">
        <input type="text" class="form-control"/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 row-title">资金额度:</div>
      <div class="col-xs-8 row-input">
        <input type="text" class="form-control"/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 row-title">借款期限:</div>
      <div class="col-xs-8 row-select">
        <ui-select ng-model="selectedDuration">
          <ui-select-match placeholder="选择借款期限">
            <span>{{$select.selected.name}}</span>
          </ui-select-match>
          <ui-select-choices repeat="duration.value as duration in durations track by $index">
            <span>{{duration.name}}</span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 row-title">借款用途:</div>
      <div class="col-xs-8 row-select">
        <ui-select ng-model="selectedUsage">
          <ui-select-match placeholder="选择借款用途">
            <span>{{$select.selected.name}}</span>
          </ui-select-match>
          <ui-select-choices repeat="usage.value as usage in usages track by $index">
            <span>{{usage.name}}</span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 row-title">婚姻状况:</div>
      <div class="col-xs-8 row-select">
        <ui-select ng-model="selectedMarriage">
          <ui-select-match placeholder="选择婚姻状况">
            <span>{{$select.selected.name}}</span>
          </ui-select-match>
          <ui-select-choices repeat="marriage.value as marriage in marriages track by $index">
            <span>{{marriage.name}}</span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="row">
      <div class="section-title">上传资料</div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 row-buttons">
        <button class="btn" ng-click="upload('id')"
                ng-class="{'btn-primary': pictures.idSrc.length === 0, 'btn-success': pictures.idSrc.length > 0}">身份证</button>
        <button class="btn" ng-click="upload('license')"
                ng-class="{'btn-primary': pictures.licenseSrc.length === 0, 'btn-success': pictures.licenseSrc.length > 0}">营业执照</button>
        <button class="btn btn-primary" ng-click="upload('marriage')"
                ng-class="{'btn-primary': pictures.marriageSrc.length === 0, 'btn-success': pictures.marriageSrc.length > 0}">结婚证</button>
        <button class="btn btn-primary" ng-click="upload('org')"
                ng-class="{'btn-primary': pictures.orgSrc.length === 0, 'btn-success': pictures.orgSrc.length > 0}">组织结构证</button>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-info sjd-page-submit" ng-click="submit()">提交申请</button>
    </div>
  </div>
</div>