<sjd-top-nav-bar nav-title="贷款申请" prev-state="dashboard" prev-text="返回" ng-init="step=1">
</sjd-top-nav-bar>
<div class="sjd-page-application" ng-show="step==1">
    <div class="container-fluid">
        <div class="item item-input">
            <div class="input-label row-title">
                *资金额度:
            </div>
            <input type="number" ng-model="amount" class="width-40" /> <span style="margin-right: 40px">万元</span>
        </div>
        <div class="item item-input item-select">
            <div class="input-label row-title">
                *贷款期限:
            </div>
            <select ng-model="duration">
                <option>小于一个月</option>
                <option selected>一个月</option>
                <option>三个月</option>
                <option>六个月</option>
                <option>一年</option>
            </select>
        </div>
        <div class="item item-input">
            <div class="input-label row-title">用途:</div>
            <input type="text" ng-model="usage" />
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="step1to2()">下一步</button>
        </div>
    </div>
</div>
<div class="sjd-page-application" ng-if="step==2">
    <div class="container-fluid list">
        <div class="row" ng-if="showTitle(personItems)">
            <div class="section-title">个人信息</div>
        </div>
        <div class="list">
            <div class="item item-input item-stacked-label" ng-repeat="item in personItems" ng-if="item.show">
                <div class="input-label">{{item.name}}:</div>
                <input type="text" class="form-control" ng-model="item.value" ng-if="item.options.length === 0" />
                <div class="item item-input item-select item-select-height30" ng-if="item.options.length > 0">
                    <select ng-model="item.value" class="select-right">
                        <option ng-repeat="option in item.options">{{option.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" ng-if="showTitle(enterpriseItems)">
            <div class="section-title">企业信息</div>
        </div>
        <div class="list">
            <div class="item item-input item-stacked-label" ng-repeat="item in enterpriseItems" ng-if="item.show">
                <div class="input-label">{{item.name}}:</div>
                <input type="text" class="form-control" ng-model="item.value" ng-if="item.options.length === 0" />
                <div class="item item-input item-select item-select-height30" ng-if="item.options.length > 0">
                    <select ng-model="item.value" class="select-right">
                        <option ng-repeat="option in item.options">{{option.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" ng-if="showTitle(loanItems)">
            <div class="section-title">贷款信息</div>
        </div>
        <div class="list">
            <div class="item item-input item-stacked-label" ng-repeat="item in loanItems" ng-if="item.show">
                <div class="input-label">{{item.name}}:</div>
                <input type="text" class="form-control" ng-model="item.value" ng-if="item.options.length === 0" />
                <div class="item item-input item-select item-select-height30" ng-if="item.options.length > 0">
                    <select ng-model="item.value" class="select-right">
                        <option ng-repeat="option in item.options">{{option.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" ng-if="showTitle(extraItems)">
            <div class="section-title">附加信息</div>
        </div>
        <div class="row" ng-if="showTitle(extraItems)">
            <div class="section-title">附加信息</div>
        </div>
        <div class="list">
            <div class="item item-input item-stacked-label" ng-repeat="item in extraItems" ng-if="item.show">
                <div class="input-label">{{item.name}}:</div>
                <input type="text" class="form-control" ng-model="item.value" ng-if="item.options.length === 0" />
                <div class="item item-input item-select item-select-height30" ng-if="item.options.length > 0">
                    <select ng-model="item.value" class="select-right">
                        <option ng-repeat="option in item.options">{{option.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="toStep3()">下一步</button>
            <button class="button button-block" ng-click="toStep1()">上一步</button>
        </div>
    </div>
</div>
<div class="sjd-page-application" ng-show="step==3">
    <div class="container-fluid">
        <div class="row">
            <div class="section-title">请提交申请资料：</div>
        </div>
        <div class="list">
            <li class="item" ng-repeat="key in keys" ng-click='upload(key)'>
                <div class="row">
                    <div class=" col col-90 ">{{pictures[key + 'Src'].name}}
                    </div>
                    <div class="col col-10" ng-if="project.status!=22">
                        <span ng-show="pictures[key + 'Src'].images.length > 0">已上传</span>
                        <span ng-show=" pictures[key + 'Src'].images.length === 0">未上传</span>
                    </div>
                    <div class="col col-10" ng-if="project.status==22">
                        <span ng-show="v.isPass">通过</span>
                        <span ng-show="!v.isPass">未通过</span>
                    </div>
                </div>
            </li>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="submit()">提交申请</button>
            <button class="button button-block" ng-click="toStep2()">上一步</button>
        </div>
    </div>
</div>