<sjd-top-nav-bar nav-title="贷款申请" prev-state="dashboard" prev-text="返回"></sjd-top-nav-bar>
<div class="sjd-page-application">
  <div class="container-fluid">
    <div class="row" ng-if="showTitle(personItems)">
      <div class="section-title">个人信息</div>
    </div>
    <div class="row" ng-repeat="item in personItems" ng-if="item.show">
      <div class="col-xs-3 row-title">{{item.name}}:</div>
      <div class="col-xs-8 row-input" ng-if="item.options.length === 0">
        <input type="text" class="form-control" ng-model="item.value"/>
      </div>
      <div class="col-xs-8 row-select" ng-if="item.options.length > 0">
        <ui-select ng-model="item.value">
          <ui-select-match>
            <span>{{$select.selected.name}}</span>
          </ui-select-match>
          <ui-select-choices repeat="option.value as option in item.options track by $index">
            <span>{{option.name}}</span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="row" ng-if="showTitle(enterpriseItems)">
      <div class="section-title">企业信息</div>
    </div>
    <div class="row" ng-repeat="item in enterpriseItems" ng-if="item.show">
      <div class="col-xs-3 row-title">{{item.name}}:</div>
      <div class="col-xs-8 row-input" ng-if="item.options.length === 0">
        <input type="text" class="form-control" ng-model="item.value"/>
      </div>
      <div class="col-xs-8 row-select" ng-if="item.options.length > 0">
        <ui-select ng-model="item.value">
          <ui-select-match>
            <span>{{$select.selected.name}}</span>
          </ui-select-match>
          <ui-select-choices repeat="option.value as option in item.options track by $index">
            <span>{{option.name}}</span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="row" ng-if="showTitle(loanItems)">
      <div class="section-title">贷款信息</div>
    </div>
    <div class="row" ng-repeat="item in loanItems" ng-if="item.show">
      <div class="col-xs-3 row-title">{{item.name}}:</div>
      <div class="col-xs-8 row-input" ng-if="item.options.length === 0">
        <input type="text" class="form-control" ng-model="item.value"/>
      </div>
      <div class="col-xs-8 row-select" ng-if="item.options.length > 0">
        <ui-select ng-model="item.value">
          <ui-select-match>
            <span>{{$select.selected.name}}</span>
          </ui-select-match>
          <ui-select-choices repeat="option.value as option in item.options track by $index">
            <span>{{option.name}}</span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="row" ng-if="showTitle(extraItems)">
      <div class="section-title">附加信息</div>
    </div>
    <div class="row" ng-repeat="item in extraItems" ng-if="item.show">
      <div class="col-xs-3 row-title">{{item.name}}:</div>
      <div class="col-xs-8 row-input" ng-if="item.options.length === 0">
        <input type="text" class="form-control" ng-model="item.value"/>
      </div>
      <div class="col-xs-8 row-select" ng-if="item.options.length > 0">
        <ui-select ng-model="item.value">
          <ui-select-match>
            <span>{{$select.selected.name}}</span>
          </ui-select-match>
          <ui-select-choices repeat="option.value as option in item.options track by $index">
            <span>{{option.name}}</span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="row">
      <div class="section-title">上传资料</div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 row-buttons">
        <button class="btn" ng-click="upload('id')"
                ng-class="{'btn-primary': pictures.idSrc.length === 0, 'btn-success': pictures.idSrc.length > 0}">身份证</button>
        <button class="btn" ng-click="upload('license')"
                ng-class="{'btn-primary': pictures.licenseSrc.length === 0, 'btn-success': pictures.licenseSrc.length > 0}">营业执照</button>
        <button class="btn btn-primary" ng-click="upload('marriage')"
                ng-class="{'btn-primary': pictures.marriageSrc.length === 0, 'btn-success': pictures.marriageSrc.length > 0}">结婚证</button>
        <button class="btn btn-primary" ng-click="upload('org')"
                ng-class="{'btn-primary': pictures.orgSrc.length === 0, 'btn-success': pictures.orgSrc.length > 0}">组织结构证</button>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-info sjd-page-submit" ng-click="submit()">提交申请</button>
    </div>
  </div>
</div>