div.mj-page-application {
  margin-top: 10vh;

  div.container-fluid {

    div.row {
      margin: 4vh -15px;

      div.row-title {
        height: 7vh;
        line-height: 7vh;
        text-align: right;
        font-size: 4vw;
      }

      div.row-input {
        height: 7vh;

        input {
          height: 7vh;
          font-size: 4vw;
        }
      }

      div.row-select {
        height: 7vh;

        div.ui-select-match {

          span {
            display: inline-block;
            height: 7vh;
            font-size: 4vw;
            line-height: 7vh;
            padding: 0 1vw;

            &.ui-select-toggle i.caret {
              border-top: 1vh dashed;
              border-right: 1vh solid transparent;
              border-left: 1vh solid transparent;
            }

          }
        }

        input.ui-select-search {
          height: 7vh;
          font-size: 4vw;
          line-height: 7vh;
          padding: 0 2vw;
        }

        ul.ui-select-choices {

          div.ui-select-choices-row a.ui-select-choices-row-inner span {
            display: inline-block;
            height: 3vh;
            line-height: 3vh;
            font-size: 3vw;
          }
        }

      }

      div.row-unit {
        height: 7vh;
        line-height: 7vh;
        text-align: left;
        font-size: 4vw;
      }

      div.row-detail {
        height: 4vh;

        input {
          display: inline-block;
          width: 4vh;
          height: 4vh;
          margin: 0 5vw;
        }

        span {
          display: inline-block;
          height: 4vh;
          line-height: 4vh;
          vertical-align: top;
          font-size: 4vw;
          text-decoration: underline;
        }
      }

      div.row-buttons {
        height: 7vh;
        line-height: 7vh;

        button {
          height: 4vh;
          font-size: 2vh;
          padding: 0 1vw;
        }
      }

      button.mj-page-submit {
        width: 80vw;
        margin: 0 10vw;
        height: 8vh;
        font-size: 4vh;
        border-radius: 3vh;
      }
    }
  }
}

div.mj-page-application-upload-window {

  div.modal-dialog {
    width: 90vw;
    padding: 1vh 2vw;
    background-color: #FFFFFF;
    border-radius: 2vw;

    div.mj-page-application-upload {

    }
  }

}