<div class="sjd-page-application-upload">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{title}}</h3>
        </div>
        <div class="panel-body">
            <div class="image-view">
                <div class="single-image" ng-repeat="image in images">
                    <img ng-src="{{image.uri}}">
                    <span class="ion-close" ng-click="removeImage(image)"></span>
                </div>
            </div>
            <div class="image-actions">
                <button class="button button-positive" ng-click="uploadImage()">选择图片</button>
                <input id="image-commit" class="origin-input" type="file" custom-on-change/>
            </div>
        </div>
    </div>
    <div class="padding">
        <button class="button button-block" ng-click="cancel()">返回</button>
    </div>
</div>