<div class="mj-page-application-upload">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{title}}</h3>
    </div>
    <div class="panel-body">
      <div class="image-create">
        <ng-camera
          viewer-height="320"
          viewer-width="450"
          image-format="jpeg"
          jpeg-quality="100"
          action-message="拍照获取"
          snapshot="imageURI"
          flash-fallback-url="/lib/webcamjs/webcam.swf"
        ></ng-camera>
      </div>

      <div class="image-view">
        <img ng-if="imageURI" ng-src="{{imageURI}}">
      </div>

      <div class="image-actions">
        <button class="btn btn-primary" ng-click="uploadImage()">上传图片</button>
        <button class="btn btn-danger" ng-click="resetImage()">重置</button>
        <input class="origin-input" type="file" custom-on-change/>
      </div>
    </div>
  </div>
  <div class="result-actions">
    <button class="btn btn-info" ng-disabled="!imageURI" ng-click="submit()">提交资料</button>
  </div>
  <div class="result-actions">
    <button class="btn btn-default" ng-click="cancel()">取消</button>
  </div>
</div>