<div class="sjd-page-application-upload">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{title}}</h3>
        </div>
        <div class="panel-body">
            <div class="image-view">
                <div class="single-image" ng-repeat="image in images">
                    <img ng-src="{{image.uri}}">
                    <span class="glyphicon glyphicon-remove" ng-click="removeImage(image)"></span>
                </div>
            </div>
            <div class="image-actions">
                <button class="btn btn-primary" ng-click="uploadImage()">上传图片</button>
                <input class="origin-input" type="file" custom-on-change/>
            </div>
        </div>
    </div>
    <div class="result-actions">
        <button class="btn btn-info" ng-disabled="images.length === 0" ng-click="submit()">提交资料</button>
    </div>
    <div class="result-actions">
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</div>