<sjd-top-nav-bar nav-title="还款申请" prev-state="dashboard" prev-text="返回"></sjd-top-nav-bar>
<div class="sjd-page-moneyin">
  <div class="sjd-moneyin-content">
    <div class="sjd-moneyin-content-1">请选择一条用款进行还款:</div>
    <div class="row sjd-moneyin-content-5">
      <table class="table table-responsive table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <th>编号</th>
            <th>时间</th>
            <th>金额</th>
            <th>已还款</th>
            <th>待还款</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="detail in details"
              ng-click="selectDetail(detail)"
              ng-class="{'active': detail.idloandetail === $parent.current.idloandetail}">
            <td>{{detail.idloandetail}}</td>
            <td>{{detail.usedate}}</td>
            <td>{{detail.amount}}</td>
            <td>{{detail.repaid}}</td>
            <td>{{detail.remain}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="sjd-moneyin-content-1">用款详情(编号{{current.idloandetail}}):</div>
    <div class="row sjd-moneyin-content-3">
      <div class="col-xs-6 sjd-moneyin-content-3-title">用款时间</div>
      <div class="col-xs-6 sjd-moneyin-content-3-title">还款截止</div>
    </div>
    <div class="row sjd-moneyin-content-3">
      <div class="col-xs-6">{{current.usedate}}</div>
      <div class="col-xs-6">{{current.repaymentdate}}</div>
    </div>
    <div class="row sjd-moneyin-content-3">
      <div class="col-xs-6 sjd-moneyin-content-3-title">待还金额</div>
      <div class="col-xs-6 sjd-moneyin-content-3-title">已还金额</div>
    </div>
    <div class="row sjd-moneyin-content-3">
      <div class="col-xs-6">{{current.remain}}</div>
      <div class="col-xs-6">{{current.repaid}}</div>
    </div>
    <div class="row sjd-moneyin-content-3">
      <div class="col-xs-6 sjd-moneyin-content-3-title">年化利息</div>
      <div class="col-xs-6 sjd-moneyin-content-3-title">还款中</div>
    </div>
    <div class="row sjd-moneyin-content-3">
      <div class="col-xs-6">{{(current.interest * 100).toFixed(0)}}%</div>
      <div class="col-xs-6">{{current.repaying}}</div>
    </div>
    <div class="sjd-moneyin-content-1">还款申请:</div>
    <div class="row sjd-moneyin-content-4">
      <div class="col-xs-3 row-title">还款金额:</div>
      <div class="col-xs-8 row-input">
        <input type="number" class="form-control" ng-model="repayAmount" ng-change="updateEstimate()"/>
      </div>
    </div>
    <div class="row sjd-moneyin-content-4">
      <div class="col-xs-3 row-title">还款时间:</div>
      <div class="col-xs-8 row-form">
        <div class="input-group">
          <input type="text" class="form-control"
                 uib-datepicker-popup
                 ng-model="date"
                 is-open="opened"
                 datepicker-options="dateOptions"
                 ng-required="true"
                 close-text="关闭"
                 clear-text="重置"
                 current-text="今天"
                 ng-change="updateEstimate()"/>
          <span class="input-group-btn">
            <button class="btn btn-primary" ng-click="toggleDatePicker()">
              <span class="glyphicon glyphicon-calendar"></span>
            </button>
          </span>
        </div>
      </div>
    </div>
    <div class="sjd-moneyin-content-1">预计本息:</div>
    <div class="sjd-moneyin-content-2-sm">{{estimate}}</div>
  </div>
  <div class="sjd-moneyin-submit">
    <button class="btn btn-info" ng-disabled="current.repaying > 0" ng-click="submit()">提交还款申请</button>
  </div>
</div>