div.mj-page-moneyin {
  margin-top: 10vh;

  div.mj-moneyin-content {
    padding: 2vh 5vw;

    div.mj-moneyin-content-1 {
      font-size: 3vh;
      height: 3vh;
      line-height: 3vh;
      color: #29e;
    }

    div.mj-moneyin-content-2 {
      margin: 0 auto 3vh;
      font-size: 7vh;
      height: 9vh;
      line-height: 9vh;
      text-align: center;
      width: 80vw;
    }

    div.mj-moneyin-content-2-sm {
      margin: 0 auto 3vh;
      font-size: 5vh;
      height: 5vh;
      line-height: 5vh;
      text-align: center;
      width: 80vw;
    }

    div.row.mj-moneyin-content-3 {

      div {
        font-size: 2vh;
        height: 3vh;
        line-height: 3vh;
        text-align: center;
        margin-bottom: 3vh;

        &.mj-moneyin-content-3-title {
          text-decoration: underline;
          margin: 2vh 0 1vh;
        }
      }
    }

    div.row.mj-moneyin-content-4 {
      margin: 2vh -15px;

      div.row-title {
        height: 4vh;
        line-height: 4vh;
        text-align: right;
        font-size: 2vh;
      }

      div.row-input {
        height: 4vh;

        input {
          height: 4vh;
          font-size: 2vh;
        }
      }

      div.row-select {
        height: 4vh;

        div.ui-select-match {

          span {
            display: inline-block;
            height: 4vh;
            font-size: 3vw;
            line-height: 4vh;
            padding: 0 1vw;

            &.ui-select-toggle i.caret {
              border-top: 1vh dashed;
              border-right: 1vh solid transparent;
              border-left: 1vh solid transparent;
            }

          }
        }

        input.ui-select-search {
          height: 4vh;
          font-size: 3vw;
          line-height: 4vh;
          padding: 0 2vw;
        }

        ul.ui-select-choices {

          div.ui-select-choices-row a.ui-select-choices-row-inner span {
            display: inline-block;
            height: 3vh;
            line-height: 3vh;
            font-size: 3vw;
          }
        }

      }

      div.row-form {
        height: 4vh;

        div.input-group {

          input {
            height: 4vh;
            line-height: 4vh;
            font-size: 2vh;
          }

          span.input-group-btn {

            button {
              height: 4vh;
              width: 10vw;

              span {
                font-size: 2vh;
              }
            }
          }

          ul.uib-datepicker-popup.dropdown-menu {

            table.uib-daypicker {

              thead tr {
                th {
                  height: 3vh;
                  font-size: 3vw;

                  button {
                    height: 3vh;
                    font-size: 3vw;
                  }
                }
              }

              tbody tr {
                td {
                  width: 4vh;
                  height: 3vh;
                  font-size: 3vw;

                  button {
                    width: 3vh;
                    height: 3vh;

                    span {
                      font-size: 3vw;
                    }

                  }
                }
              }
            }

            li.uib-button-bar {

              button {
                height: 4vh;
                width: 10vw;
                font-size: 3vw;
                padding: 0;
              }
            }
          }
        }
      }
    }

    div.row.mj-moneyin-content-5 {
      padding: 3vh 0 1vh 0;

      table {
        font-size: 3vw;
        text-align: center;

        thead tr th {
          text-align: center;
        }
      }
    }

    div.row.mj-moneyin-content-6 {

      span.title-6 {
        font-size: 3vh;
        height: 3vh;
        line-height: 3vh;
        color: #29e;
      }

      span.sign-6 {
        font-size: 2.5vh;
        left: 3vw;
        display: inline-block;
        height: 4vh;
        line-height: 4vh;
        width: 15vw;
        background: #dedede;
        text-align: center;
        border-radius: 1vh;
        color: #999;
      }
    }
  }

  div.mj-moneyin-submit {

    margin: 3vh 0;

    button {
      width: 80vw;
      margin: 0 10vw;
      height: 8vh;
      font-size: 4vh;
      border-radius: 3vh;
    }
  }
}