div.sjd-page-moneydetail {
  margin-top: 10vh;

  div.detail-list {
    max-height: 75vh;
    overflow: auto;

    div.panel {

      div.panel-heading {
        height: 4vh;
        padding: 0;

        h3.panel-title {
          height: 4vh;
          line-height: 4vh;
          font-size: 2vh;
          text-align: center;
        }
      }

      div.panel-body {

        div.row {
          margin: 1vh 0;

          span.info {
            height: 3vh;
            line-height: 3vh;
            font-size: 3vw;
          }

          span.action {
            height: 3vh;
            line-height: 3vh;
            font-size: 3vw;
            color: #29e;
            text-decoration: underline;
          }
        }


      }
    }


  }

  div.result-actions {
    margin: 2vh auto;
    width: 60vw;

    button {
      width: 60vw;
      height: 8vh;
      font-size: 4vh;
      border-radius: 3vh;
    }
  }
}