<div class="sjd-page-moneydetail-repay">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">还款申请(编号{{detail.idloandetail}})</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col col-50">
                    <span class="info">用款额度: {{detail.amount|currency:'':2}} 元</span>
                </div>
                <div class="col col-50">
                    <span class="info">待还金额: {{detail.remain|currency:'':2}} 元</span>
                </div>
            </div>
            <div class="row">
                <div class="col col-50">
                    <span class="info">用款时间: {{detail.usedate}}</span>
                </div>
                <div class="col col-50">
                    <span class="info">还款截止: {{detail.repaymentdate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col col-50">
                    <span class="info">年化利息: {{(detail.interest * 100).toFixed(0)}}%</span>
                </div>
                <div class="col col-50">
                    <span class="info">还款中: {{detail.repaying|currency:'':2}} 元</span>
                </div>
            </div>
            <div class="list">
                <div class="item item-input">
                    <div class="input-label">
                        还款金额:
                    </div>
                    <input type="number" ng-model="repayAmount" ng-change="updateEstimate()" style="max-width: 130px;" /> 元
                </div>
                <div class="item item-input item-select">
                    <div class="input-label">
                        还款时间:
                    </div>
                    <input type="datetime-local" ng-change="updateEstimate()" ng-model="date">
                </div>
            </div>
            <div class="estimate-title">预计本息:</div>
            <div class="estimate-amount">{{estimate|currency:'':2}}</div>
        </div>
    </div>
    <div class="row result-actions">
        <button class="col col-50 button button-block button-positive" ng-disabled="detail.repaying > 0" ng-click="submit()">提交</button>
        <button class="col col-50 button button-block" ng-click="cancel()">返回</button>
    </div>
</div>