<div class="sjd-page-moneydetail-repay">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">还款申请(编号{{detail.idloandetail}})</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-6">
          <span class="info">用款额度: {{detail.amount}}</span>
        </div>
        <div class="col-xs-6">
          <span class="info">待还金额: {{detail.remain}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <span class="info">用款时间: {{detail.usedate}}</span>
        </div>
        <div class="col-xs-6">
          <span class="info">还款截止: {{detail.repaymentdate}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <span class="info">年化利息: {{(detail.interest * 100).toFixed(0)}}%</span>
        </div>
        <div class="col-xs-6">
          <span class="info">还款中: {{detail.repaying}}</span>
        </div>
      </div>

    </div>
  </div>
  <div class="result-actions">
    <button class="btn btn-info" ng-click="submit()">提交</button>
  </div>
  <div class="result-actions">
    <button class="btn btn-default" ng-click="cancel()">取消</button>
  </div>
</div>