<div class="sjd-page-goodsin-add">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">入库商品</h3>
    </div>
    <div class="panel-body">
      <form class="search-form" ng-submit="search()">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="输入入库商品名" />
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
        </div>
      </form>

      <div class="goods-list">
        <table class="table table-responsive table-striped table-bordered table-condensed">
          <tbody>
          <tr ng-repeat="a in [1, 2, 3, 4, 5, 6]">
            <td>
              <input type="checkbox" />
            </td>
            <td>iphone {{a}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <form class="add-form" ng-submit="addNew()">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="输入新品名称" />
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary">
                <span>添加新品</span>
              </button>
            </span>
        </div>
      </form>
    </div>
  </div>
  <div class="row actions">
    <div class="col-xs-3 col-xs-offset-2">
      <button class="btn btn-info" ng-click="submit()">确定</button>
    </div>
    <div class="col-xs-3 col-xs-offset-2">
      <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
  </div>
</div>