body{
   background: #ECEBEF;
    padding: 10px;
}
div.sjd-page-welcome {
   
    h1.sjd-welcome-title {
        display: block;
        width: 100%;
        text-align: center;
        margin: 10vh 0 10vh 0;
        height: 10vh;
        line-height: 10vh;
        font-size: 36px;
    }
    h2.sjd-welcome-title {
        display: block;
        width: 100%;
        text-align: center;
        margin: 10vh 0 10vh 0;
        height: 10vh;
        line-height: 10vh;
        font-size: 24px;
    }
    div.sjd-welcome-content {
        margin: 0 5vw 0 5vw;
        height: 30vh;
        width: 90vw;
    }
    div.sjd-welcome-footer {
        button {
            width: 80vw;
            margin: 15vh 10vw;
            height: 10vh;
            font-size: 5vh;
            border-radius: 3vh;
        }
    }
}