div.sjd-page-welcome {
    background-image: url(../../imgs/home-bg.png);
    width: 100%;
    height: 100%;
    background-position-x: 100%;
    background-size: cover;
    div.sjd-welcome-footer {
        padding: 100% 0;
        button {
            margin: 50px 0 60px 0;
            height: 16vh;
            width: 16vh;
            font-size: 5vh;
            border-radius: 100px;
            margin: 0 auto;
        }
    }
}