<sjd-top-nav-bar nav-title="当前贷款" ng-click="changeStatus()"></sjd-top-nav-bar>
<div class="sjd-page-dashboard">
  <uib-alert class="sjd-dashboard-alert" type="info" ng-if="message">{{message}}</uib-alert>
  <div class="sjd-dashboard-status" ng-if="status === 1">
    <div class="sjd-dashboard-status-image">

    </div>
    <div class="sjd-dashboard-status-text">
      <span>初审已通过</span>
    </div>
  </div>
  <div class="sjd-dashboard-status" ng-if="status === 2">
    <div class="sjd-dashboard-status-image">

    </div>
    <div class="sjd-dashboard-status-text">
      <span>资料已提交,请等待审核</span>
    </div>
  </div>
  <div class="sjd-dashboard-status" ng-if="status === 3">
    <div class="sjd-dashboard-status-content">
      <div class="sjd-dashboard-status-content-1">当前用款:</div>
      <div class="sjd-dashboard-status-content-2">
        <span class="title">{{usedamount}}</span>
        <span class="detail" ng-click="navigate('moneydetail')">详情</span>
      </div>
      <div class="row sjd-dashboard-status-content-3">
        <div class="col-xs-4 sjd-dashboard-status-content-3-title">最低值</div>
        <div class="col-xs-4 sjd-dashboard-status-content-3-title">核价值</div>
        <div class="col-xs-4 sjd-dashboard-status-content-3-title">可出值</div>
      </div>
      <div class="row sjd-dashboard-status-content-3">
        <div class="col-xs-4">{{minimum}}</div>
        <div class="col-xs-4">{{core}}</div>
        <div class="col-xs-4">{{out}}</div>
      </div>
      <div class="row sjd-dashboard-status-content-4">
        <div class="col-xs-6 sjd-dashboard-status-content-4-title">授信额度</div>
        <div class="col-xs-6 sjd-dashboard-status-content-4-title">结束时间</div>
      </div>
      <div class="row sjd-dashboard-status-content-4">
        <div class="col-xs-6">{{amount}}万元</div>
        <div class="col-xs-6">{{expireddate}}</div>
      </div>
    </div>
  </div>
  <div class="sjd-dashboard-actions">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">当前操作</h3>
      </div>
      <div class="panel-body">
        <button class="btn btn-primary" ng-if="status === 0" ng-click="navigate('initial')">提交意向</button>
        <button class="btn btn-primary" ng-if="status === 1" ng-click="navigate('application')">发起贷款</button>
        <button class="btn btn-primary" ng-if="status === 3" ng-click="navigate('goodsout')">出库申请</button>
        <button class="btn btn-primary" ng-if="status === 3" ng-click="navigate('goodsin')">入库提交</button>
        <button class="btn btn-primary" ng-if="status === 3" ng-click="navigate('moneyout')">用款申请</button>
        <button class="btn btn-primary" ng-if="status === 3" ng-click="navigate('moneyin')">还款申请</button>
      </div>
    </div>
  </div>
</div>