div.mj-page-dashboard {
  margin-top: 10vh;

  .mj-dashboard-alert {
    width: 100%;
    height: 8vh;
    line-height: 8vh;
    font-size: 3vw;
  }

  div.container-fluid {


    div.row {
      margin: 4vh -15px;

      div.row-title {
        height: 7vh;
        line-height: 7vh;
        text-align: right;
        font-size: 4vw;
      }

      div.row-input {
        height: 7vh;

        input {
          height: 7vh;
          font-size: 4vw;
        }
      }

      div.row-image {
        height: 7vh;

      }

      button {
        width: 80vw;
        margin: 0 10vw;
        height: 8vh;
        font-size: 4vh;
      }
    }
  }
}