<mj-top-nav-bar nav-title="当前贷款" ng-click="changeStatus()"></mj-top-nav-bar>
<div class="mj-page-dashboard">
  <uib-alert class="mj-dashboard-alert" type="info" ng-if="message">{{message}}</uib-alert>
  <div class="mj-dashboard-status" ng-if="status === 1">
    <div class="mj-dashboard-status-image">

    </div>
    <div class="mj-dashboard-status-text">
      <span>初审已通过</span>
    </div>
  </div>
  <div class="mj-dashboard-status" ng-if="status === 2">
    <div class="mj-dashboard-status-image">

    </div>
    <div class="mj-dashboard-status-text">
      <span>资料已提交,请等待审核</span>
    </div>
  </div>
  <div class="mj-dashboard-status" ng-if="status === 3">
    <div class="mj-dashboard-status-content">

    </div>
  </div>
</div>