<div class="sjd-page-dashboard-detail">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">编号: 00001</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-6">
          <span class="info">用款额度: 100000</span>
        </div>
        <div class="col-xs-6">
          <span class="info">用款时间: 2016-01-01</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <span class="info">还款时间: 2016-01-01</span>
        </div>
        <div class="col-xs-6">
          <span class="info">年化利息: 15%</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <span class="info">已还金额: 12345</span>
        </div>
        <div class="col-xs-6">
          <span class="action">详情</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <span class="info">待还金额: 543212</span>
        </div>
        <div class="col-xs-6">
          <span class="action">还款</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <span class="info">当前本息: 1234.12</span>
        </div>
        <div class="col-xs-6">
          <span class="info">到期本息: 1234.12</span>
        </div>
      </div>
    </div>
  </div>
  <div class="result-actions">
    <button class="btn btn-info" ng-click="ok()">用款申请</button>
  </div>
  <div class="result-actions">
    <button class="btn btn-default" ng-click="cancel()">关闭</button>
  </div>
</div>